/* Style the body */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
    font-family: Arial;
    margin: 0;
  }
  
  /* Header/Logo Title */
  .header {
    padding: 1px;
    text-align: center;
    background: #CF0D2D;
    color: white;
    font-size: 30px;
  }

  h3 {
    text-align: center;
  }

  .container-container {
    padding: 10px;
    background:#FEC92C;
    
  }

  .site-footer {
    padding: 10px;
    background:#FEC92C;
  }

  .containerbox{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
  }

  .containerbox form .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
    text-align: left;
    font-size: 20px;
    font-weight: 500;
  }

  form .user-details .input-box {
    margin-bottom: 15px;
    width: calc(100% / 2 - 30px);
  }

  .user-details .input-box details {
    display: block;
    font-weight: 500px;
    margin-bottom: 5px;
  }

  .user-details .input-box input {
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
  }

  .user-details .input-box input:focus,
  .user-details .input-box input:valid {
    border-color: #CF0D2D;
  }

  form .radio-details .radio-title,
  form .q2-radio-details .radio-title,
  form .q3-radio-details .radio-title,
  form .q4-radio-details .radio-title,
  form .q5-radio-details .radio-title,
  form .q6-radio-details .radio-title,
  form .q7-radio-details .radio-title,
  form .q8-radio-details .radio-title,
  form .q9-radio-details .radio-title,
  form .q10-radio-details .radio-title,
  form .q11-radio-details .radio-title {
    font-size: 20px;
    font-weight: 500;
  }

  form .radio-details .category {
    display: flex;
    flex-wrap: wrap;
    width: 30%;
    margin: 14px;
    justify-content: space-between;
    
  }

  form .q2-radio-details .q2-category,
  form .q3-radio-details .q3-category,
  form .q4-radio-details .q4-category,
  form .q5-radio-details .q5-category,
  form .q6-radio-details .q6-category,
  form .q7-radio-details .q7-category,
  form .q8-radio-details .q8-category,
  form .q9-radio-details .q9-category,
  form .q10-radio-details .q10-category,
  form .q11-radio-details .q11-category {
    display: flex;
    flex-wrap: wrap;
    width: 27%;
    margin: 14px;
    justify-content: space-between;
    
  }

  .radio-details .category label,
  .q2-radio-details .q2-category label,
  .q3-radio-details .q3-category label,
  .q4-radio-details .q4-category label,
  .q5-radio-details .q5-category label,
  .q6-radio-details .q6-category label,
  .q7-radio-details .q7-category label,
  .q8-radio-details .q8-category label,
  .q9-radio-details .q9-category label,
  .q10-radio-details .q10-category label,
  .q11-radio-details .q11-category label {
    display: flex;
    align-items: center;
  }

  .radio-details .category .dot,
  .q2-radio-details .q2-category .dot,
  .q3-radio-details .q3-category .dot,
  .q4-radio-details .q4-category .dot,
  .q5-radio-details .q5-category .dot,
  .q6-radio-details .q6-category .dot,
  .q7-radio-details .q7-category .dot,
  .q8-radio-details .q8-category .dot,
  .q9-radio-details .q9-category .dot,
  .q10-radio-details .q10-category .dot,
  .q11-radio-details .q11-category .dot{
    height: 18px;
    width: 18px;
    background: #d9d9d9;
    border-radius: 50%;
    margin-right: 10px;
    border: 5px solid transparent;
    transition: all 0.3s ease;
    
  }

  #dot-1:checked ~ .category label .one,
  #dot-2:checked ~ .category label .two,
  #q2-dot-1:checked ~ .q2-category label .one,
  #q2-dot-2:checked ~ .q2-category label .two,
  #q3-dot-1:checked ~ .q3-category label .one,
  #q3-dot-2:checked ~ .q3-category label .two,
  #q3-dot-3:checked ~ .q3-category label .three,
  #q4-dot-1:checked ~ .q4-category label .one,
  #q4-dot-2:checked ~ .q4-category label .two,
  #q5-dot-1:checked ~ .q5-category label .one,
  #q5-dot-2:checked ~ .q5-category label .two,
  #q6-dot-1:checked ~ .q6-category label .one,
  #q6-dot-2:checked ~ .q6-category label .two,
  #q7-dot-1:checked ~ .q7-category label .one,
  #q7-dot-2:checked ~ .q7-category label .two,
  #q8-dot-1:checked ~ .q8-category label .one,
  #q8-dot-2:checked ~ .q8-category label .two,
  #q9-dot-1:checked ~ .q9-category label .one,
  #q9-dot-2:checked ~ .q9-category label .two,
  #q10-dot-1:checked ~ .q10-category label .one,
  #q10-dot-2:checked ~ .q10-category label .two,
  #q11-dot-1:checked ~ .q11-category label .one,
  #q11-dot-2:checked ~ .q11-category label .two{
    background: #d9d9d9;
    border-color: #CF0D2D;
    
  }

  form input[type="radio"]{
    display: none;
  }

  form .button{
    height: 45px;
    margin: 35px;
    
  }

  form .button input{
    height: 100%;
    width: 250px;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background:  #CF0D2D;
  }

  form .button input:hover {
    /* transform: scale(0.99); */
    background:  #FEC92C;
    }
  
    @media(max-width: 584px){
      .container{
       max-width: 100%;
     }
     form .user-details .input-box{
         margin-bottom: 1 5px;
         width: 100%;
       }
       form .category{
         width: 100%;
       }
  }

  @media(max-width: 459px){
    .container .content .category{
      flex-direction: column;
    }
  }

  /* Page Content */
  .content {
      padding: 40px;
      background: #FEA027;
      align-items: center;
      
  }

  